@model IEnumerable<Book>
@{
    ViewBag.Title = "Books";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6 mb-5">
            <a href="@Url.Action("Details", "Book", new { id = item.Id})">
                <div>
                    <img src="~/Assets/images/@item.ImgUrl" alt="" class="w-100" height="350">
                </div>
            </a>
            <div class="women">
                <h6><a href="@Url.Action("Details", "Book", new { id = item.Id})">@item.Title</a></h6>
                <p>
                    <em class="item_price">@item.UnitPrice VNĐ</em>
                    <br>
                    <a href="#" data-text="Thêm vào giỏ">Thêm vào giỏ</a>
                </p>
            </div>
        </div>
    }
</div>

