<div class="row">
    <div class="col-md-12 banner">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 100%;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="#"><img class="d-block w-100" style="width: 100%" src="~/Assets/images/banner1.jpg" alt="Second slide"></a>
                </div>
                <div class="carousel-item">
                    <a href="#"><img class="d-block w-100" style="width: 100%" src="~/Assets/images/banner3.jpg" alt="Third slide"></a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
