<h4>Search</h4>
<form action="@Url.Action("Search", "Book")" method="get" class="form-inline mb-3">
    <div class="form-group mx-md-3 mb-2">
        <input type="text" class="form-control mr-3" id="inputSearch" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Search">
        <button type="submit" class=" form-control btn btn-primary">
            Search
        </button>
    </div>
</form>

